/*
custom css file
for use in find_jobs

author: mm
 */
 .nav {
    font-size: 18px;
    line-height: 2em;
    width: 80%;
}
.nav-bottom-child {
    position: relative;
    top: 190px;
    left: 0px;
}
.post-time {
    float: right;
    color: #428bca;
}
.nav-mm {
    width: 10em;
    padding: 0.5em;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
div.panel-body > p {
    line-height: 2em;
}