{% extends "main.html" %} {% block body %}
<div id="body" class="container">
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">“层层”过滤器</h3>
                </div>
                <div class="panel-body">
                    <form class="form" role="form">
                        <div class="radio-inline">
                            <label>
                                <input type="radio" id="optionsRadios1" value="option1" checked>校招
                            </label>
                        </div>
                        <div class="radio-inline">
                            <label>
                                <input type="radio" id="optionsRadios2" value="option2">社招
                            </label>
                        </div>
                        <div class="form-group form-inline">
                            <label>公司</label>
                            <select class="form-control input-sm" style="width:30%; margin-left:15px">
                                <option>百度</option>
                                <option>阿里</option>
                                <option>腾讯</option>
                                <option>微软</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-group form-inline">
                            <label>职位</label>
                            <select class="form-control input-sm" style="width:50%; margin-left:15px">
                                <option>算法工程师</option>
                                <option>前端工程师</option>
                                <option>web后台工程师</option>
                                <option>产品</option>
                                <option>国企/银行类</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-9">
                                <label class="sr-only" for="searchResult">result</label>
                                <input type="text" class="form-control" id="searchResult" placeholder="筛选结果">
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-default">搜索</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">“词词”过滤器</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group row">
                        <div class="col-md-9">
                            <label class="sr-only" for="searchResult">result</label>
                            <input type="text" class="form-control" id="searchResult" placeholder="选词">
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-default">搜索</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <hr>
                        <p>
                            <button type="button" class="btn btn-default btn-lg">C/C++</button>
                            <button type="button" class="btn btn-default">Python</button>
                            <button type="button" class="btn btn-default">算法</button>
                            <button type="button" class="btn btn-default btn-lg">Java</button>
                        </p>
                        <p>
                            <button type="button" class="btn btn-default">HTML/CSS</button>
                            <button type="button" class="btn btn-default">PHP</button>
                            <button type="button" class="btn btn-default btn-sm">Sql</button>
                            <button type="button" class="btn btn-default btn-sm">公务员</button>
                        </p>
                        <p>
                            <button type="button" class="btn btn-default btn-sm">... ...</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8" id="article-list">
            <div class="row">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <h4>标题
                            <span class="post-time">发布时间</span>
                        </h4>
                    </div>
                    <!-- List group -->
                    <div class="list-group">
                        {% for job in jobs_list %}
                        <a href="{{ '/article/'+job['category']+'/'+job['id'] }}" class="list-group-item" target="_blank">{{ job['title'] }}<span class="post-time">{{ job['time'] }}</span></a>
                        {% end %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <ul class="pager">
                        <li id="page_up"><a href="{{ url_pre }}">上一页</a>
                        </li>
                        <li id="page_down"><a href="{{ url_next }}">下一页</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</div>

{% end %}